<ion-header>
  <ion-toolbar>
    <ion-title>Hot Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
     <ion-list-header>Travel Special</ion-list-header>
     <ion-item>
       <ion-thumbnail slot="end">
         <img src="/assets/adapter.jpg">
       </ion-thumbnail>
       <ion-label>
         <h3>Universal Travel Adapter</h3>
         <p>Only 30 loyalty points</p>
       </ion-label>
     </ion-item>

     <ion-item>
       <ion-thumbnail slot="end">
         <img src="/assets/backpack.jpg">
       </ion-thumbnail>
       <ion-label>
         <h3>Travel Backpack</h3>
         <p>Only 100 loyalty points</p>
       </ion-label>
     </ion-item>

     <ion-item>
       <ion-thumbnail slot="end">
         <img src="/assets/pillow.jpg">
       </ion-thumbnail>
       <ion-label>
         <h3>Travel Sleep Pillow</h3>
         <p>Only 200 loyalty points</p>
       </ion-label>
     </ion-item>
   </ion-list>
</ion-content>
