<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">HSBC Rate</h1>
  <p class="lead">Best rate among banks</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Basic</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">EUR 0.11341 <br><small class="text-muted">to 1 HKD</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Best rate amount banks</li>
          <li>Earn 100 stars loyalty point</li>
          <li>Schedule to get at bank</li>
        </ul>
        <a routerLink="/loyalty"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Earn loyalty points</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">New fund</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">With our bank account product</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Jade</li>
          <li>Premier</li>
          <li>Advance</li>
        </ul>
        <a routerLink="/loyalty"><button type="button" class="btn btn-lg btn-block btn-primary">Open new account</button></a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Progressive</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Better rate with larger amount</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>exchange rate of amount of transaction</li>
          <li> e.g.  0-10000 hkd converted $$ rate = 7.9,</li>
          <li> 10000-100,000 rate = 7.8</li>
        </ul>
        <a routerLink="/loyalty"><button type="button" class="btn btn-lg btn-block btn-primary">Choose</button></a>
      </div>
    </div>
  </div>
</div>
