<ion-header>
  <ion-toolbar>
    <ion-title>
      HSBC Rate - Best rate among banks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Basic</ion-card-subtitle>
      <ion-card-title>1 HKD to 13.7937 JPY </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Best rate amount banks | Earn 100 stars loyalty point | Schedule to get at bank
    </ion-card-content>
    <a routerLink="/tabs/bookings">
      <ion-button float-right>
        Earn loyalty points
      </ion-button>
    </a>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>New fund</ion-card-subtitle>
      <ion-card-title>With our bank account product</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Jade | Premier | Advance
    </ion-card-content>
    <a routerLink="/tabs/bookings">
      <ion-button float-right>
        Open new account
      </ion-button>
    </a>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Progressive</ion-card-subtitle>
      <ion-card-title>Better rate with larger amount</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Exchange rate of amount of transaction |  e.g.  0-10000 hkd converted $$ rate = 7.9, |  10000-100,000 rate = 7.8

    </ion-card-content>
    <a routerLink="/tabs/bookings">
      <ion-button float-right>
        Choose
      </ion-button>
    </a>
  </ion-card>


</ion-content>
