<ion-header>
  <ion-toolbar>
    <ion-title>
      HSBC Rate - Best rate among banks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card  *ngFor="let option of options">
    <ion-card-header>
      <ion-card-subtitle>{{option.subtitle}}</ion-card-subtitle>
      <ion-card-title>{{option.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{option.content}}
    </ion-card-content>
    <a routerLink="/tabs/bookings">
      <ion-button float-right>
        {{option.cta}}
      </ion-button>
    </a>
  </ion-card>
</ion-content>
