<ion-header>
  <ion-toolbar>
    <ion-title>News for you</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/madison.jpg" />
    <ion-card-header>
      <ion-card-subtitle>News about FX in your watch list</ion-card-subtitle>
      <ion-card-title>EUR/USD consolidates in mid-range after the ECB, ahead of US GDP</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      EUR/USD is trading around 1.1150, in the middle of the broad range that characterized after the ECB left policy unchanged but hinted upcoming stimulus. The focus now shifts to the US GDP which is projected to show a slowdown.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/money.jpg" />
    <ion-card-header>
      <ion-card-subtitle>News about FX in your watch list</ion-card-subtitle>
      <ion-card-title>All eyes on US GDP after the ECB sends EUR/USD for a wild ride</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      EUR/USD has stabilized around 1.1150 after hitting a new two-year low of 1.1101 after the European Central Bank opened the door to cutting rates and QE but refrained from imminent action.
    </ion-card-content>
  </ion-card>
</ion-content>
