<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">FX combine</h1>
      <p class="lead text-muted">Compare & Save on Cheap FX Deals</p>

      <div class="btn-group primary-currency" role="group">
        <button id="btnGroupVerticalDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          HKD
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
          <a class="dropdown-item" href="#">AUD</a>
          <a class="dropdown-item" href="#">EUR</a>
          <a class="dropdown-item" href="#">GBP</a>
          <a class="dropdown-item" href="#">CAD</a>
          <a class="dropdown-item" href="#">JPY</a>
          <a class="dropdown-item" href="#">CHF</a>
          <a class="dropdown-item" href="#">NZD</a>
          <a class="dropdown-item" href="#">SGD</a>
          <a class="dropdown-item" href="#">THB</a>
          <a class="dropdown-item" href="#">USD</a>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button id="btnGroupVerticalDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EUR
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
          <a class="dropdown-item" href="#">AUD</a>
          <a class="dropdown-item" href="#">EUR</a>
          <a class="dropdown-item" href="#">GBP</a>
          <a class="dropdown-item" href="#">CAD</a>
          <a class="dropdown-item" href="#">JPY</a>
          <a class="dropdown-item" href="#">CHF</a>
          <a class="dropdown-item" href="#">NZD</a>
          <a class="dropdown-item" href="#">SGD</a>
          <a class="dropdown-item" href="#">THB</a>
          <a class="dropdown-item" href="#">USD</a>
        </div>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let bank of banks">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top bank-image" src="assets/{{bank.img}}">
            <div class="card-body">
              <p class="card-text">{{bank.name}} | 1 HKD to EUR <b class="card-text text-muted">{{bank.rate}}</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a routerLink="/post-logon"><button type="button" class="btn btn-outline-secondary">Buy Now</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
